#updates-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.updates-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.head{
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter";
    margin-left: 12px;
    color: #FFFFFF;

}

.data{
    display: flex;
    flex-direction: column;
}
/* .update-heading-withbell{

} */

.Update-layer-properties{
    display: flex;
    justify-content: flex-start;
    height: 428px;
    width: 413px;
    border: 1px solid black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: auto;
    scrollbar-width: none;
}
.update-heading-withbell{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: black;
}

.image{
    height: 60px;
    width: 66px;
}

.logo-set{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.heading-update{
    margin-left: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Inter";
    color:#181818;
    
}
.para-update{
    margin-left: 18px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter";
    color:#737373;

}



.img-dim{
   margin-left: -100px;
    height: 191px;
    width: 210px;
 }

.leftsetdiv123{
    display: flex;
    height: 192px;
    width: 640px;
    border: 0.5px ;
    border-style:dashed;
    border-width: 4;
    border-color: #181818;
    border-radius: 12px;
    
}
.leftsetdiv1234{
    display: flex;
    height: 192px;
    width: 640px;
    border: 1px ;
    border-style: dashed;
    border-width: 4;
    border-color: #FE8572;
    border-radius: 12px;
    
}

.leftsettot1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
}

.leftsetdiv1231{
    
    margin: 30px;
    margin-left: -30px;
    height: 126px;
    width: 500px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.leftsetdiv12314{
    
    margin: 30px;
    margin-left: -30px;
    height: 126px;
    width: 500px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: 1px solid #FE8572;
    border-bottom: 1px solid #FE8572;
    border-right: 1px solid #FE8572;
}

total-container-set{
    display: flex;
    flex-direction:row ;
    justify-content: center;
}
.tot-cir-rec{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.myth-des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
    height: 360px;
    width: 390px;
    border: 1px solid #FE8572;
    border-radius: 156px;
}

.total-myht-div{
     padding-top: 200px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.img-dim1{
    
     height: 118px;
     width: 98px;
  }

  .myth-des-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 370px;
    background-color: #F3F4F6;
    border-top: 100px;
    border-style: none;
    border-radius: 150px;
  }

  .img-div{
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 200px;
    background-color: #FFFFFF;
    border: 1px solid #FE8572;
    border-radius: 124px;
  }
  .img-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 167px;
    width: 180px;
    background-color:#FE8572;
    border-radius: 124px; 
  }

  .img-para{
    text-align: center;
    margin-top: 36px;
    height: auto;
    width: 360px;
    background-color: #FE8572;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom-right-radius:110px;
    border-bottom-left-radius: 110px;
  }
  /* mkn */
  .fact-des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
    height: 360px;
    width: 390px;
    border: 1px solid  #000000;
    border-radius: 156px;
}

.total-fact-div{
     padding-top: 200px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.fact-img-dim1{
    
     height: 118px;
     width: 98px;
  }

  .fact-des-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 370px;
    background-color: #F3F4F6;
    border-top: 100px;
    border-style: none;
    border-radius: 150px;
  }

  .fact-img-div{
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 200px;
    background-color: #FFFFFF;
    border: 1px solid  #000000;
    border-radius: 124px;
  }
  .fact-img-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 167px;
    width: 180px;
    background-color: #000000;
    border-radius: 124px; 
  }

  .fact-img-para{
    text-align: center;
    margin-top: 36px;
    height: auto;
    width: 360px;
    color: #FFFFFF;
    background-color: #000000;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom-right-radius:110px;
    border-bottom-left-radius: 110px;
  }


  .fact-and-myth{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

/*   @media (min-width: 375px) {
    .fact-and-myth{
        display: block;
    }
    .total{
        display: none;
    }
    #updates-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} */
 @media (min-width: 768px) {
    .fact-and-myth{
        display: block;
    }
    .total{
        display: none;
    }
    #updates-container{
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
} 
  @media (min-width: 1440px) {
    .fact-and-myth{
        display: none;
    }
    .total{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #updates-container{
        display: flex;
        flex-direction: row;
      
    }
}

.fact-design{
    transition-duration: 3s;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto";
    color: black;
}
